@charset "UTF-8";
/* CSS Document */
 

body 

nav {
	height: 80px; 
	background: #FD03B3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem calc((100w - 1300px)/2);
}

.logo {
	color: silver;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: italic;
	padding: 0 2rem;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 0 1.5rem;
}

.hero {
	background-color: magenta
}

.hero-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 95vh;
	padding: 3rem calc((100w - 1300px) / 2);
}

.column-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: black;
	padding 0rem 2 rem;  
}

.column-left p {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	line-height: 1.5;
}

.column-left h1 {
	margin-bottom: 1rem;
	font-size: 3rem;
}

button{
	padding: 1rem 3rem;
	font-size: 1rem;
	border: none;
	color: magenta;
	background color: black;
	cursos: pointer;
}

button:hover {
	background: white;
	color: black;
	
}








